/*
ejs모듈을 이용하면, html 문서내에서 반복문 등의 
기초적인 자바스크립트 프로그래밍 문법이 적용될 수 있다.
*/
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>

<%for(var i=1 ;i<=100;i++){%>
딸기
<%}%>

</body>
</html>
